.row {
  padding: 0 0.3rem;
  background-color: white;
}
.row-title {
  height: 1rem;
  line-height: 1rem;
  color: #888;
  font-size: 0.36rem;
  border-bottom: 1px solid #F6F6F6;
}
.row-text {
  display: inline-block;
  font-size: 0.32rem;
  line-height: 1;
}

.header-view{
  font-size: 28px;
  font-weight: 500;
  width: 100%;
}
.header-view ul{
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.header-view ul li{
  display: inline-block;
  width: 20%;
  overflow: hidden;
}
