html{
  font-size: 100;
}

body{
  background: #ffffff;
}

p{
  padding: 0;
  margin:0;
}

//轻提示
.am-toast-text-icon{
  padding:1rem;
  border-radius: 0.4rem;
}
.am-toast-text{
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}
.am-toast .anticon{
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
